<!-- admin0.handlebars -->


<div class="container-lg">
    <h5 class="mx-4">Administrative</h5>

    <div class="card text-center bg-green m-5" style="width: auto;">
        {{!-- <img class="card-img-top" src="box_veggies.jpg" alt="photograph of vegetables on a blue background"> --}}
        <div class="card-body">

            <button type="button" class="btn btn-lg btn-green btn-block ">
                <a class="text-decoration-none text-reset" href="/admin-add-cust">add new customer</a>
            </button>

            <button type="button" class="btn btn-lg btn-green btn-block">
                <a class="text-decoration-none text-reset" href="/admin-updt-cust">update customer subscription</a>
            </button>

        </div>
    </div>

</div>