<!-- admin2.handlebars -->  

<nav class="bg-white py-2" id="HomePageHeader">
    <h1 class="mx-4" >Rubyfruit Farm ~ Admin</h1>
</nav>

<div class="container-lg">

    <div class="card text-center bg-green m-3" style="width: auto;">
        <div class="card-body">
            <h5 class="card-title">Update Customer Subscription</h5>
        </div>
    </div>

</div>