<!-- admin1.handlebars -->


<div class="container-lg">
    
    <h5 class="mx-4">New Customer</h5>

    <div class="card text-center bg-green m-3" style="width: auto;">

        <div class="card-body">
            <form class="text-left" action="">
                <div class="form-row">
                    {{!-- customer first name input --}}
                    <div class="form-group col-md-4 mb-3" style="width: auto;">
                        <label for="first-name">First Name</label>
                        <input type="text" class="form-control" id="first-name-add" placeholder="First Name">
                    </div>
                    {{!-- customer last name input --}}
                    <div class="form-group col-md-4 mb-3">
                        <label for="first-name">Last Name</label>
                        <input type="text" class="form-control" id="last-name-add" placeholder="Last Name">
                    </div>
                    {{!-- customer subscription start date--}}
                    <div class="form-group col-md-4 mb-3">
                        <label for="subs-start-date">Subscription Start Date</label>
                        <input class="form-control" type="date" name="subs-start-date-add" id="subs-start-date">  
                    </div>
                </div>

                <button class="btn btn-green" type="submit" onclick="func_new_customer()" >Submit</button>
            </form>
        </div>
    </div>

</div>

<script src="/source/js/adminHandler.js" charset="utf-8" id="adminButtonsHandler"></script>