<!-- admin2.handlebars -->

<div class="container-lg">

    <h5 class="mx-4">Update Subscription</h5>

    <div class="card text-center bg-green m-3" style="width: auto;">
        <div class="card-body">
            {{!-- creates form to search for customer using their first name, last name, and the date when their subscription began --}}
            <form class="text-left" action="">
                <div class="form-row">
                    {{!-- customer first name input --}}
                    <div class="form-group col-md-4 mb-3" style="width: auto;">
                        <label for="first-name">First Name</label>
                        <input type="text" class="form-control" id="first-name-search" placeholder="First Name">
                    </div>
                    {{!-- customer last name input --}}
                    <div class="form-group col-md-4 mb-3">
                        <label for="first-name">Last Name</label>
                        <input type="text" class="form-control" id="last-name-search" placeholder="Last Name">
                    </div>
                    {{!-- customer subscription start date--}}
                    <div class="form-group col-md-4 mb-3">
                        <label for="subs-start-date">Subscription Start Date</label>
                        <input class="form-control" type="date" name="subs-start-date-search" id="subs-start-date">
                    </div>
                </div>
                {{!-- when the information in the form is filled out, the search_cust() will generate a list of customers,
                and render a table below with possible customers --}}
                <button class="btn btn-green" type="submit" onclick="search_cust()">Search</button>
            </form>
        </div>
    </div>

    <div class="card text-center bg-green m-3" style="width: auto;">
        <div class="card-body">
            {{!-- static mock up of a table that might be generated from the search_cust() button above. It allows
            the customer to go in and edit the data in the database of the users that resulted from the search. --}}
            <div class="table-responsive">
                <table class="table table-sm table-light">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Subscription Date</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        {{!-- form that allows admin to update the subscription/customer information for customers in the list
                        generated above --}}
                        <form action="">
                            <td>
                                <input type="text" name="first-name-action" id="first-name-action" placeholder="John">
                            </td>
                            <td>
                                <input type="text" name="last-name-action" id="last-name-action" placeholder="Doe">
                            </td>
                            <td>
                                <input type="date" name="subs-start-date-action" id="subs-start-date-action">
                            </td>
                            <td>
                                <button class="btn btn-green" type="submit" onclick="updt_cust()" >Update</button>
                                <button class="btn btn-green" type="submit" onclick="delete_cust()" >Delete</button>
                            </td>
                            </form>
                        </tr>   

                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>
<script src="/source/js/adminHandler.js" charset="utf-8" id="adminButtonsHandler"></script>