<!-- csaSupporter0.handlebars -->
{{!-- CSA supporter testing --}}

<nav class="bg-white py-2" id="HomePageHeader">
    <h1 class="mx-4" >Rubyfruit Farm ~ Supporter</h1>
</nav>

<div class="container-lg">


{{!-- https://pixy.org/5825349/ CCO public domain photo box_veggies.jpg --}}

    <div class="card-deck mt-5">

        <div class="card text-center bg-green" style="width: 25rem;">
            {{!-- <img class="card-img-top" src="box_veggies.jpg" alt="photograph of vegetables on a blue background"> --}}
            <div class="card-body">
                
                <button type="button" class="btn btn-lg btn-green btn-block" >
                    <a class="text-decoration-none text-reset" href="/csa-supporter-next">preview next boxes</a>
                </button>
                
                <button type="button" class="btn btn-lg btn-green btn-block" >
                    <a class="text-decoration-none text-reset" href="/csa-supporter-prev">view previous boxes</a>
                </button>

            </div>
        </div>
        
        <div class="card text-center bg-green " style="width: 25rem;">
            <div class="card-body">

                <button type="button" class="btn btn-lg btn-green btn-block" >
                    <a class="text-decoration-none text-reset" href="/csa-supporter-subs">check subscription</a>
                </button>

                <button type="button" class="btn btn-lg btn-green btn-block" >
                    <a class="text-decoration-none text-reset" href="/csa-supporter-cust">contact customer service</a>
                </button>
                
            </div>
        </div>

    </div>

    
</div>
