<!-- csaSupporter4.handlebars -->

<nav class="bg-white py-2" id="HomePageHeader">
    <h1 class="mx-4">Rubyfruit Farm ~ Supporter</h1>
    
</nav>

<div class="container-lg">

<div class="card bg-green m-2 p-3">

{{!-- customer service contact form --}}
<form action="">
    {{!-- customer first name input --}}
    <div class="form-group" style="width: auto;">
        <label for="first-name">First Name</label>
        <input type="text" class="form-control" id="first-name" placeholder="First Name">
    </div>
    {{!-- customer last name input --}}    
    <div class="form-group">
        <label for="first-name">Last Name</label>
        <input type="text" class="form-control" id="first-name" placeholder="Last Name">
    </div>
    {{!-- customer comment box--}}  
    <div class="form-group">
        <label for="first-name">Comment</label>
        <textarea class="form-control rounded-3" name="comment" id="comment" rows="3"></textarea>
    </div>

    <button class="btn btn-green" type="submit">Submit</button>
</form>
</div>

</div>