<!-- farmer.handlebars -->

<!-- new comment -->

<div class="container-lg">
    <h5 class="mx-4">Farming</h5>

<div class="card text-center bg-green m-3" style="width: auto;">
    <div class="card-body">

        <a class="text-decoration-none text-reset" href="/farmer-plantNewRow">
            <button class="btn btn-lg btn-green btn-block">plant new row</button>
        </a>

        <a class="text-decoration-none text-reset" href="/farmer-harvestNewRow">
            <button class="btn btn-lg btn-green btn-block">harvest new row</button>
        </a>

        <a class="text-decoration-none text-reset" href="/farmer-viewPlantedRows">
            <button class="btn btn-lg btn-green btn-block">view planted rows</button>
        </a>

        <a class="text-decoration-none text-reset" href="/farmer-viewProduceOnHand">
            <button class="btn btn-lg btn-green btn-block">view produce on hand</button>
        </a>

        <a class="text-decoration-none text-reset" href="/farmer-addNewCropType">
            <button class="btn btn-lg btn-green btn-block">add new crop type</button>
        </a>

        </div>
    </div>
</div>

<script src="/source/js/farmerButtonsHandler.js" charset="utf-8" id="farmerButtonsHandler"></script>
