<!-- farmer-harvest-new-row.handlebars -->

<!-- form to accept new harvested row -->

<div class="container-lg">
    <h5 class="mx-4">Harvested row:</h5>

    <div class="card text-center bg-green m-3" style="width: auto;">
        <div class="card-body">
            <form class="text-left" action="">
                <div class="form-row">
                    {{!-- select row --}}
                    <!-- in the future this will populated using SQL 'SELECT cropType AND harvestDate FROM Rows' -->
                    <div class="form-group col-md-12 mb-3" style="width: auto;">
                        <label for="row-to-harvest">Row harvested</label>
                        <select class="form-control" id="row-to-harvest">
                            {{#each crop_rows}}
                            <option value="{{this.row_id}}">{{this.crop_name}} (expected to harvest on {{this.mature_date}})</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    {{!-- quantity harvested --}}
                    <div class="form-group col-md-6 mb-3">
                        <label for="quantity-harvested">Quantity harvested</label>
                    </br>
                        <input type="number" id="quantity-harvested" min="1" max="1000">
                    </div>
                    {{!-- expiration date --}}
                    <div class="form-group col-md-6 mb-3">
                        <label for="expire-date">Date produce will Expire</label>
                        <input class="form-control" type="date" name="expire-date" id="expire-date">
                    </div>
                </div>

                <input type="button" class="btn btn-green" type="submit" onclick="func_INSERT_harvests()" id="INSERT_button" value="Submit">
            </form>
        </div>
    </div>
</div>

<script src="/source/js/btn_handler_farmer_harvest_row.js" charset="utf-8" id="btn_handler"></script>
