<!-- farmer-add-new-crop-type.handlebars -->

<!-- form to accept new Crop Type -->

<div class="container-lg">
    <h5 class="mx-4">add new crop type</h5>

    <div class="card bg-green m-3" style="width: auto;">
        <div class="card-body">

            <form class="text-left" action="">
                <div class="row form-group mb-3 mx-2">
                    {{!-- crop type entry --}}
                    <label for="crop-type">Enter crop name:</label>
                    <input type="text" class="form-control" placeholder="Name" name="crop-type" id="crop-type">
                </div>

                <input type="button" class="btn btn-green" onclick="func_INSERT_crop_types()" id="INSERT_button" value="Submit">
            </form>

        </div>
    </div>
</div>


<script src="/source/js/btn_handler_farmer_add_crop_type.js" charset="utf-8" id="btn_handler"></script>
