<!-- farmer.handlebars -->

<div class="container-lg">
<div id="HomePageHeader">
    <h1>Farmer</h1>
</div>
</div>

<div class="container" style="text-align: center;">
    <div class="row justify-content-center">
        <div class="col col-lg-8">
            <div class="row">
                  <div class="col-lg py-3">
                      <button type="button" class="btn btn btn-outline-secondary btn-lg btn-block" style="color: white;" onclick="plantNewRow()">Plant New Row</button>
                  </div>
                  <div class="col-lg py-3">
                      <button type="button" class="btn btn btn-outline-secondary btn-lg btn-block" style="color: white;" onclick="harvestNewRow()">Harvest New Row</button>
                  </div>
            </div>
            <div class="row">
                <div class="col-lg py-3">
                    <button type="button" class="btn btn btn-outline-secondary btn-lg btn-block" style="color: white;" onclick="viewPlantedRows()">View Planted Rows</button>
                </div>
                <div class="col-lg py-3">
                    <button type="button" class="btn btn btn-outline-secondary btn-lg btn-block" style="color: white;" onclick="viewProduceOnHand()">View Produce On-Hand</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/source/js/farmerButtonsHandler.js" charset="utf-8" id="farmerButtonsHandler"></script>
