<!-- farmer-plant-new-row.handlebars -->

<!-- form to accept new Row planted -->
<div class="container-lg">
    <h5 class="mx-4">Plant new row:</h5>

    <div class="card text-center bg-green m-3" style="width: auto;">
        <div class="card-body">

            <form class="text-left" action="">
                <div class="form-row">
                    {{!-- crop type --}}
                    <!-- in the future this will populated using SQL 'SELECT name FROM CropTypes' -->
                    <div class="form-group col-md-6 mb-3" style="width: auto;">
                        <label for="crop-type">Crop Type</label>
                        <select class="form-control" id="crop-type">
                            {{#each crop_types}}
                            <option value="{{this.crop_id}}">{{this.crop_name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    {{!-- harvest date --}}
                    <div class="form-group col-md-6 mb-3">
                        <label for="date-to-harvest">Date to Harvest</label>
                        <input class="form-control" type="date" name="date-to-harvest" id="date-to-harvest">
                    </div>
                </div>

                <input type="button" class="btn btn-green" type="submit" onclick="func_INSERT_crop_rows()" id="INSERT_button" value="Submit">
            </form>
        </div>
    </div>
</div>

<script src="/source/js/btn_handler_farmer_plant_new_row.js" charset="utf-8" id="btn_handler"></script>
