<!-- farmer-view-planted-rows.handlebars -->

<!-- table view that queries database and displays rows planted -->

{{!-- <div class="container" style="text-align: center;">
    <div class="row justify-content-center">
        <div class="col col-lg-8">
<h3 style="text-align: left; font-weight: 600;">Currently Planted Rows:</h3>
</br> --}}

<div class="container-lg">
    <h5 class="mx-4">Currently planted rows:</h5>

    <div class="card text-center bg-green m-3" style="width: auto;">
        <div class="card-body">

            <div class="form-group row">
                <label for="sort-by" style="text-align: right;" class="col-sm-8 col-form-label">Sort By:</label>
                <div class="col-sm-4">
                    <select class="form-control" id="sort-by">
                        <option>-select-</option>
                        <option>Date to Harvest</option>
                        <option>Crop Type</option>
                    </select>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-light">
                    <thead class="thead-light">
                        <th>Crop Type:</th>
                        <th>Date to Harvest:</th>
                    </thead>
                    <tbody>
                        {{#each crop_rows}}
                        <tr>
                            <td hidden name="row_id">{{this.row_id}}</td>
                            <td hidden name="crop_id">{{this.crop_id}}</td>
                            <td name="crop_name">{{this.crop_name}}</td>
                            <td name="mature_date">{{this.mature_date}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>

<script src="/source/js/sort_rows.js" charset="utf-8" id="sort_handler"></script>
