<!-- home.handlebars -->

<div class="container-lg">
<div id="HomePageHeader">
    <h1>CSA Database</h1>
</div>
</div>
<div class="container-md" style="text-align: center;">
    <div class="row">
          <div class="col-md">
              Farmer
          </div>
          <div class="col-md">
              Box Packer
          </div>
    </div>
    <div class="row">
        <div class="col-md">
            CSA Supporter
        </div>
        <div class="col-md">
            Administrator
        </div>
    </div>
</div>