<!-- home.handlebars -->

<div class="container-lg">
<!-- <div id="HomePageHeader">
    <h1>Rubyfruit Farm</h1>
</div> -->
</div>
<div class="card text-center bg-green m-3" style="width: auto;">
    <div class="card-body">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-lg-10">
                    <a role="button" class="btn btn-outline-secondary btn-lg btn-block" style="color: white;" href="/farmer" id="farmerButton">farmer</a>
                    <a role="button" class="btn btn-outline-secondary btn-lg btn-block" style="color: white;" href="/box-packer" id="boxPackerButton">box packer</a>
                    <a role="button" class="btn btn-outline-secondary btn-lg btn-block" style="color: white;" href="/admin" id="adminButton">admin</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <script src="/source/js/homeButtonsHandler.js" charset="utf-8" id="homeButtonsHandler"></script> -->
