<!-- home.handlebars -->

<div class="container-lg">
<div id="HomePageHeader">
    <h1>CSA Database</h1>
</div>
</div>
<div class="container" style="text-align: center;">
    <div class="row">
        <div class="col col-lg-auto">

        </div>
        <div class="col col-lg-8">
            <div class="row">
                  <div class="col-lg">
                      Farmer
                  </div>
                  <div class="col-lg">
                      Box Packer
                  </div>
            </div>
            <div class="row">
                <div class="col-lg">
                    CSA Supporter
                </div>
                <div class="col-lg">
                    Administrator
                </div>
            </div>
        </div>
        <div class="col col-lg-auto">

        </div>
    </div>
</div>