/* styleCommander.css */

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,900;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,600&display=swap');

body {
  color: black;
  background-color:white;
  font-family: 'Open Sans', serif;
  font-weight: 300;
  font-size: 1.4rem;
}

h1 {
    font-family: 'Roboto', serif;
    /* font-style: italic; */
    /* font-weight: 700; */
    font-weight: 300;
    font-size: 3em;
    line-height: 1.0;
    letter-spacing: 1px;
    margin-top: 0;
}

h2 {
    font-family: 'Helvetica Neue', 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 92pt;
    margin-bottom: 30px;
    line-height: 0.8;
    word-break: keep-all;
    letter-spacing: 1px;
}

div#HomePageHeader {
    padding-top: 20px;
    padding-bottom: 20px;
}

nav {
    font-family: 'Helvetica Neue', 'Roboto', sans-serif;
}

div.ImgRoll {
    position: relative;
    margin: 0 auto;
    width: 356px;
    border: 3px solid rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 25px;
    padding-top: 25px;
}

div.restOfBody {
    padding-top: 72px;
    margin-bottom: 8px;
}

div.bodyContent {
    padding-top: 24px;
}

a.navbar-brand {
    padding: 8px 0;
}

span#biggoBrand {
    font-family: "Source Serif Pro", 'Helvetica Neue', 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 0;
}

span#biggoThing {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: 1.25rem;
    line-height: 0;
}


p {
    /* Heng, Christopher. How to Create Hanging Indents in HTML and CSS. thesitewizard.com. 22 October 2019. Web. 22 October 2019. */
    padding-left: 16px ;
    text-indent: -16px ;
}

p#tagline {
    font-family: 'Helvetica Neue', 'Roboto', sans-serif;
    font-style: italic;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    font-size: .8rem;
    line-height: inherit;
    text-align: center;
    letter-spacing: .08rem;
}

a {
    color: #D3832B;
}

a:hover {
    color: #FFB500;
}

a:visited {
    color: #4A773C;
}

img.preview2 {
    width: 100%;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
}

img.preview {
    width: 100%;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
}

img.preview:hover {
    border: 0.25rem solid rgba(245, 151, 92, 1);
}

div.scrolliBoi {
    height: 300px;
}

.textBoxo {
    background-color: #2B2B2B;
    padding: 8px 16px 0px 16px;
    margin-bottom: 24px;"
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(120,120,120);
    background-color: rgb(40,40,40);
}

td, th {
    border: 1px solid rgb(80,80,80);
    max-height: 50px;
    padding: 8px;
}

th {
    font-weight: 600;
    background-color: rgb(75,75,75);
    border: 1px solid rgb(120,120,120);
}

div.editE {
    position: relative;
    margin: 88px auto 0px;
    width: 256px;
    z-index: 11;
    border: 3px solid rgb(120,120,120);
    background-color: rgb(80, 80, 80);
    border-radius: 25px;
    padding: 25px;
}
div.o2 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 11;
    top: 0;
    left: 0;
}

div.overlay {
    background-color: rgba(0, 0, 0, 0.68);
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
}

div.radPush {
    margin-left: 20px;
}

p#remindToName {
    margin-top: 16px;
    border: 3px solid rgba(120,120,120,0);
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgb(164, 37, 32);
    font-family: 'Roboto Mono';
    font-size: 1.2rem;
    padding-left: 0px ;
    text-indent: 0px ;
    text-align: center;
}

pre {
    background-color: #2B2B2B;
    padding: 8px 16px;
    color: white;
    white-space: normal;
}

/* css additions for button style on farm supporter */

button{
    margin: .3em;
}

.bg-yellow_green{
    background-color: #F9FFDF;
}

.bg-green{
    background-color: #6EAD5C;
}


.btn-green{
    color:#4e7e41;
    background-color: #F9FFDF;
    border-color:#6EAD5C;
}
.btn-green:hover{
    color: #F9FFDF;
    background-color:#4e7e41;
    border-color: #4e7e41;
}

/* bootstrap settings didn't work on white background for DAVID HOME PAGE quick fix by overriding the bootstrap class */

.btn-outline-secondary{
    color:white;
    background-color: #217036;
    border-color:#217036;  
}

.btn-outline-secondary:hover{
    color: #fff;
    background-color:#389651;
    border-color: #389651;
}



